@import '../routes/button';
.joinModal{
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); 

    p{
        cursor: pointer;
    }
    a{
        cursor: pointer;
    }
    
}

.joinModalContainer{
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
    border-radius: 10px;
    width: 480px;
    height: 540px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 200px auto;
    padding: 20px;
    background: #fff; 
}
.logoDiv{
    display: flex;
    justify-content: right;
    font-size: 30px;

    h1{
        padding-left: 160px;
        padding-right: 165px;
        color: rgb(249, 87, 0);
    }
}
.joinModalHeader{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}

.joinFormWrapper{

    margin-top: 15px;
    display: flex;
    justify-content: center;
    
    .joinForm{
        width: 400px;

        .inputDiv{
            margin-top: 10px;
            input{
                display: fixed;
                margin-top: 10px;
                
                font-size: 15px;
                //border: 1px solid gray;
                //border-radius: 5px;
                padding: 3px;
                //background-color: aliceblue;
            }
        }

        .joinBtn{
            margin-top: 30px;
            margin-bottom: 10px;
            background-color: rgb(249, 87, 0);
            font-size: 18px;
            font-weight: bold;
            padding: 3px;
            //border-radius: 0px;
            border: none;
            color: white;
            @include hoverPoint(1.07);
            
        }
    }

    span{
        color: red;
        font-size: 12px;
        font-weight: lighter;
    }
}

.selectDiv{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 25px;

    label{
        display: flex;
        width: 100%;
        justify-content: center;
    }


    .brithDiv{
        position: relative;
        margin-top: 12px;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            border-radius: 10px;
            border: none;
            background-color: rgba(245, 222, 179, 0.808);
            font-size: 17px;
            font-weight: bold;
            padding-top: 3px;
            padding-bottom: 3px;
            @include hoverPoint(1.1);
        }
        ul{
            position: absolute;
            overflow-y: auto;
            margin-top: 8px;
            height: 150px;
            background-color: rgb(252, 246, 223);
            border-radius: 10px;
            overflow-x: hidden;
            li{
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 17px;
                @include hoverPoint(1.15);
                &:hover{
                    background-color: rgba(255, 166, 0, 0.692);
                }
            }
            &::-webkit-scrollbar{
                width: 8px;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 13px;
                background-color: rgb(253, 174, 83);
            }
            &::-webkit-scrollbar-track{
                border-radius: 13px;
                background-color: rgba(128, 128, 128, 0.767);
            }
        }
        .yearUl{
            width: 90px;
        }
        .monthUl{
            width: 70px;
            margin-left: 13px;
        }
        .dayhUl{
            width: 70px;
            margin-left: 12px;
        }
    }
}

.pDiv{
    
    display: flex;
    justify-content: center;

}

