$myffColor: rgb(249, 87, 0);
$bg: rgb(241, 241, 241);

%button{
  cursor: pointer;
  font-size: 20px; 
  background-color: rgb(249, 87, 0);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-family: 'NanumExtra';
}

%drag{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

%loader {
  height: 100px;
  width: 100px;
  border: 6px solid white;

  border: {
      right-color: $myffColor;
      top-color: $myffColor;
      radius: 100%;
  }

  animation: spin 800ms infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(359deg);
  }
}

@mixin hoverPoint($size) {
    transition: transform 0.4s;
    &:hover{
      transform: scale($size);
    }
}