@import "./button";
.imgDiv {
  display: flex;
  overflow-x: auto;

  .imgSpan {
    width: 300px;
    height: 450px;
    background-color: rgba(180, 179, 179, 0.349);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;

    position: relative;

    p {
      @extend %button;
      width: 50px;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
    }
    .imgView {
      width: 100%;
    }
  }
}
.noImg {
  height: 445px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: white;
    padding: 10px;

    color: gray;
    border-radius: 10px;
  }
}

.pictureDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;

  button {
    margin-left: 50px;
    @extend %button;
    border: none;
    transition: transform 0.4s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

//아코디언
input[id*="write"] {
  display: none;
}
input[id*="write"] + label {
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
  display: block;
  border-radius: 10px;
}
input[id*="write"] + label + div {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.35s;
  border-radius: 10px;
}
input[id*="write"]:checked + label + div {
  max-height: 560px;
  background-color: #f1f1f1;
}
//글쓰기
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  textarea {
    height: 300px;
    width: 98%;
    font-size: 22px;
    resize: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
  }
}

//map

.mapContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  //지도

  input {
    font-size: 22px;
    height: 39px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .searchInput {
    width: 70%;
    padding-left: 5px;
    margin-left: 15px;
  }
  .fileLabel {
    @extend %button;
    height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: 5px;
    margin-left: 10px;
    @include hoverPoint(1.04);
  }
  .imgInput {
    width: 0%;
    overflow: hidden;
  }
  div:nth-child(4) {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 13px;
    width: 99.5%;
    .mapDiv {
      position: relative;
      width: 98%;
      height: 500px;
    }
    .locationInfo {
      position: absolute;
      right: 3%;
      bottom: 3%;
      width: 400px;
      height: 90px;

      z-index: 5;

      background-color: white;
      border-radius: 10px;
      box-shadow: 5px 5px 5px gray;
      opacity: 0.8;
      display: flex;

      font-size: 20px;

      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding-top: 5px;
      }
      div:nth-child(1) {
        padding-left: 5px;
        width: 14%;
      }
      div:nth-child(2) {
        width: 100%;
      }
    }
  }
}

//별점
.rate {
  display: flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  height: 35px;
  padding-left: 15px;
  .star {
    display: flex;
    align-items: center;
  }
}

//글쓰기 css
.contentDiv {
  border-radius: 10px;
  .tagMain {
    display: flex;
    .tagDiv {
      border-top: 1px dotted;
      margin-top: 10px;
      padding-top: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 800px;
      height: 120px;
      div:nth-child(1) {
        width: 100%;
        font-size: 20px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        margin-left: 5px;
        padding-bottom: 5px;
        padding-top: 7px;
        height: 60px;
        align-items: cetner;
        &::-webkit-scrollbar {
          height: 10px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 13px;
          background-color: rgb(46, 46, 46);
        }
        &::-webkit-scrollbar-track {
          border-radius: 13px;
          background-color: rgb(146, 145, 145);
        }

        .tagName {
          display: flex;
          align-items: center;
          margin-left: 7px;
          @extend %button;
          height: 30px;
          white-space: nowrap;
          //태그 삭제 버튼
          .deleteTagBtn {
            border: none;
            color: rgb(46, 46, 46);

            margin-left: 7px;
            @extend %button;
            font-size: 15px;
          }

          transition: transform 0.4s;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      input {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 17px;
        padding-left: 5px;
      }
      .banInput {
        background-color: rgba(255, 127, 80, 0.4);
        width: 100%;
        height: 35px;
        border-radius: 10px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 17px;
        padding-left: 5px;
        display: flex;
        box-shadow: 0px 1px;
        img {
          width: 25px;
          height: 25px;
          margin-top: 5px;
          display: block;
          display: flex;
          align-items: center;
        }
        p {
          width: 400px;
          font-size: 19.5px;
          font-weight: bold;
          color: rgb(59, 59, 59);
          height: 23;
          margin-left: 5px;
          display: block;
          display: flex;
          align-items: center;
        }
      }
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      width: 400px;
      justify-content: center;
      button {
        @extend %button;
        width: 350px;
        height: 60px;
        border-radius: 15px;
        border: none;

        transition: transform 0.4s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
