@import "_button";

.container {
    width: 1160px;
    padding: 20px;
    background-color: $bg;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    //user + map
    .userMap {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: space-between;
  
      .userDiv {
        display: flex;
        width: 570px;
        background-color: white;
        border-radius: 10px;
        img {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          align-self: center;
          margin-left: 20px;
  
        }
        .userInfo{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            align-self: center;
            margin-top: 30px;
            font-size: 30px;
          }
          .followerDiv{
            display: flex;
            span{
              text-align: center;
              font-size: 20px;
              margin-top: 15px;
              &:nth-child(1){margin-right: 100px;}
            }
          }
          .userBtn{
            margin-top: 15px;
            width: 150px;
            @extend %button;
            @include hoverPoint(1.04);
            &:nth-child(1){margin-right: 15px;}
          }
        }
      }
  
      .mapDiv {
        background-color: white;
        border-radius: 15px;
        width: 570px;
        .map {
          width: 100%;
          height: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          position: relative;
          .locationDiv{
            position: absolute;
            white-space: nowrap;
            background-color: rgba(255, 255, 255, 0.836);
            border-radius: 10px;
            box-shadow: 5px 5px 5px gray;
            bottom: 10px;
            right: 10px;
            padding: 10px;
          }
        }
      }
    }
  
    //user + map
  
    //image
    .imageDiv {
      width: 100%;
      height: 700px;
      margin-top: 20px;
      border-radius: 10px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        cursor: pointer;
      }
  
      .prev {
        color: black;
        font-size: 100px;
        @include hoverPoint(1.15);
      }
  
      .next {
        color: black;
        font-size: 100px;
        @include hoverPoint(1.15);
      }
  
      .pictureSpan {
        //width: 700px;
        height: 700px;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          height: 95%;
        }
      }
    }
  
    //image
    .contentDiv {
      height: 100%;
      width: 1120px;
      padding: 20px;
      margin-top: 20px;
      border-radius: 10px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div{
        margin-bottom: 5px;
      }
      .likeStarDiv{
        display: flex;
        .like {
          @extend %drag;
          font-size: 50px;
          margin-top: -10px;
          color: red;
          @include hoverPoint(1.15);
        }
        .unlike {
          @extend %drag;
          @include hoverPoint(1.15);
          font-size: 50px;
          margin-top: -10px;
          color: rgba($color: #000000, $alpha: 0.3);
        }
        .likeNumber {
          font-size: 25px;
          display: flex;
          align-items: center;
          margin: 0 50px 0 10px;
        }
      }
      .tag{
        .sape{
          color: rgba(97, 132, 248, 0.815);
          margin-right: 10px;
          border-radius: 10px;
          transition: background-color 0.3s;
          &:hover{
            background-color: rgba(212, 212, 212, 0.534)
          }
          span:nth-child(1){
              font-style: oblique;
              margin-right: 2px;
          }
      }
      }
      .star {
        display: flex;
        font-size: 35px;
        color: rgb(235, 215, 39);
        margin-top: 5px;
      } 
      .view{
        font-size: 30px;
        margin-top: 10px;
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
      p{
        font-size: 20px;
        white-space: pre-line;
      }

      position: relative;
      .boardEditBtn{
        position: absolute;
        top: 20px;
        right: 160px;
        width: 120px;
        @extend %button;
        @include hoverPoint(1.06);
      }
      .boardDeleteBtn{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 120px;
        @extend %button;
        @include hoverPoint(1.06);
      }
    }
  
    //content
  
    .commentDiv {

      height: 100%;
      width: 100%;
      margin-top: 20px;
      border-radius: 10px;
      background-color: white;
  
      //댓글 작성
      .newCommDiv {
        display: flex;
        justify-content: space-between;
        margin: 20px;
  
        span {
          font-size: 20px;
          font-weight: bold;
          align-self: center;
        }
  
        input[type=text] {
          font-size: 17.5px;
          width: 80%;
        }
  
        input[type=submit] {
          width: 100px;
          border: none;
          @extend %button;
          @include hoverPoint(1.1);
        }
      }
  
      //댓글 보기, 접기
      .commSetDiv {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 20px;
        @include hoverPoint(1.04);
      }
  
      //전체 댓글
      .commDiv {
        display: flex;
        flex-direction: column;
        margin: 20px;
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
        position: relative;
  
        p:nth-child(1) {
          font-size: 20px;
          font-weight: bold;
          a{
            transition: font-size 0.3s;
            &:hover{
              font-size: 23px;
            }
          }
        }
        p:nth-child(2) {
          margin-top: 5px;
          font-size: 18px;
        }
        .editCommInput{
          width: 950px;
          margin-top: 5px;
          font-size: 18px;
        }
  
        //댓글 수정, 삭제
        .commtEditDiv {
          width: 160px;
          display: flex;
          justify-content: space-between;
          position: absolute;
          right: 0;
          bottom: 20px;
  
          input {
            width: 70px;
            @extend %button;
            @include hoverPoint(1.1);
          }
        }
      }
      .commtMore{
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        button{
          border: none;
          @extend %button;
          @include hoverPoint(1.1);
        }
      }
  
    }
  
    //comment
  
  }