@import 'button';

.container {
    background-color: rgb(241, 241, 241);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .userMapDiv {
        width: 1160px;
        height: 400px;
        padding: 20px;
        display: flex;
        

        //팔로워
        .fwUserDiv {
            width: 300px;
            margin-right: 20px;
            padding-right: 10px;
            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 115px;

            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: lightgray;
                border-radius: 5px;
            }

            .profileDiv {
                text-align: center;
                @include hoverPoint(1.04);

                img {
                    width: 106px;
                    height: 106px;
                    border-radius: 53px;
                }

                span {
                    width: 100%;
                }
            }
        }

        //지도
        .mapDiv {
            width: 100%;
            height: 100%;
        }
    }

    .boardContainer {
        width: 1160px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        

        //게시글 간략보기
        .boardDiv {
            height: 400px;
            padding: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            box-shadow: 5PX 5px 5px -5px rgb(208, 208, 208);
            @include hoverPoint(1.04);

            .userDiv {
                width: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px;
                margin-top: 40px;

                img {
                    width: 100%;
                    height: 130px;
                    margin-bottom: 15px;
                    border-radius: 65px;
                }

                h1 {
                    font-size: 20px;
                }
            }
            .boardimgDiv {
                width: 390px;
                img {
                    width: 100%;
                    height: 250px;
                }
            }

            .contentsDiv {
                width: 100%;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h1 {
                    font-size: 20px;
                }
                .tag{
                    word-break : break-all;
                    
                    
                    .sape{
                        color: rgba(97, 132, 248, 0.815);
                        margin-right: 10px;
                        span:nth-child(1){
                            font-style: oblique;
                            margin-right: 2px;
                        }
                    }
                }
                .starDiv{
                    position: relative;
                    display: flex;
                    .like {
                        margin-right: 20px;
    
                        span {
                            color: red;
                        }
                    }
                    .star {
                        margin-right: 20px;
                        display: flex;
                        font-size: 20px;
                        color: rgb(235, 215, 39);
                    }
                    .commts{
                        position: absolute;
                        right: 2%;
                    }
                }

            }
        }
    }
    //로딩
    .loader {
        margin-top: 20px;
        @extend %loader;
    }
}



