.container{
    background-color: rgb(241, 241, 241);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .userMapDiv{
        width: 1160px;
        height: 500px;
        padding: 20px;
        display: flex;

        //팔로워
        .fwUserDiv{
            overflow-y: auto;
            width: 280px;
            margin-right: 20px;
            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: 115px;
            .profileDiv{
                text-align: center;
                img{
                    width: 100%;
                }
                span{
                    width: 100%;
                }
            }
        }
        //지도
        .mapDiv{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    
    .boardContainer{
        width: 96%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        //게시글 간략보기
        .boardDiv{
            height: 400px;
            padding: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            box-shadow: 5PX 5px 5px -5px rgb(208, 208, 208);
            .userDiv{
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px;
                margin-top: 40px;
                img{
                    width: 100%;
                    margin-bottom: 15px;
                }
                h1{
                    font-size: 20px;
                }
            }
            .boardimgDiv{
                width: 70%;
                img{
                    width: 100%;
                    height: 250px;
                }
            }
            .contentsDiv{
                width: 100%;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h1{
                    font-size: 20px;
                }
                .like{
                    margin-right: 20px;
                    span{
                        color: red;
                    }
                }
                .star{
                    margin-right: 20px;
                }
            }
        }
    }
}