@import 'button';

.container {
    background-color: rgb(241, 241, 241);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .userMapDiv {
        width: 1160px;
        height: 400px;
        padding: 20px;
        display: flex;

        //팔로워
        .fwUserDiv {
            width: 300px;
            margin-right: 20px;
            padding-right: 10px;
            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 115px;

            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: lightgray;
                border-radius: 5px;
            }

            .profileDiv {
                text-align: center;

                img {
                    width: 106px;
                    height: 106px;
                    border-radius: 53px;
                }

                span {
                    width: 100%;
                }
            }
        }

        //지도
        .mapDiv {
            width: 100%;
            height: 100%;
        }
    }

    .boardContainer {
        width: 96.5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        //게시글 간략보기
        .boardDiv {
            height: 400px;
            padding: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            box-shadow: 5PX 5px 5px -5px rgb(208, 208, 208);

            .userDiv {
                width: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px;
                margin-top: 40px;

                img {
                    width: 100%;
                    height: 130px;
                    margin-bottom: 15px;
                    border-radius: 65px;
                }

                h1 {
                    font-size: 20px;
                }
            }

            .boardimgDiv {
                width: 70%;

                img {
                    width: 100%;
                    height: 250px;
                }
            }

            .contentsDiv {
                width: 100%;
                height: 160px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h1 {
                    font-size: 20px;
                }

                .like {
                    margin-right: 20px;

                    span {
                        color: red;
                    }
                }

                .star {
                    margin-right: 20px;
                }
            }
        }
    }
    //로딩
    .loader {
        margin-top: 20px;
        @extend %loader;
    }
}



