@import './button';
.back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4); ;
}
.container{
  background-color: $bg;
  height: 700px;
  position: relative;
  .formDiv{
    position: absolute;
    margin-left: 50%;
    right: 350px;
    top: 100px;
    z-index: 100;
    background-color: white;
    width: 460px;
    border-radius: 10px;
    padding: 20px;
    span{
      position: absolute;
      font-size: 30px;
      @include hoverPoint(1.2);
    }
    form{  
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-size: 50px;
        color: $myffColor;
      }
      h2{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
      }
      p{
        color: red;
        margin-top: 5px;
      }
      input[type=password], input[type=text]{
        margin-top: 10px;
        font-size: 20px;
      }
      button[type=submit]{
        width: 100%;
        margin-top: 30px;
        border: none;
        @extend %button;
      }
    }
  }
}