@import '../routes/button';

.editModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;
}

.modalContainer {
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
    border-radius: 10px;
    width: 500px;
    height: auto;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 100px auto;
    padding: 20px;
    background: #fff;

    .editModalHeader {
        display: flex;
        justify-content: right;
        font-size: 30px;
        font-family: "NanumExtra";
        font-weight: bold;

        p {
            margin-right: 140px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        span {
            cursor: pointer;
        }
    }

    .editFormWrapper {
        display: flex;
        justify-content: center;

        .editForm {
            width: 400px;

            .profileEditImg {
                margin-bottom: 30px;

                img {
                    width: 210px;
                    height: 210px;
                    border-radius: 105px;
                    @include hoverPoint(1.08);
                    //margin-left: 90px;
                }

                p {
                    font-size: 13px;
                    margin-top: 2px;
                    margin-left: 292px;
                    color: #696969;
                    cursor: pointer;
                    @include hoverPoint(1.1);
                }
            }

            .editInput {

                margin-top: 10px;

                input {
                    width: 394px;
                    margin-top: 10px;
                    font-size: 15px;
                    padding: 3px;
                }

                span {
                    color: red;
                    font-size: 12px;
                    font-weight: bold;

                }
                // .nickSpan{
                //     margin-right: 170px;
                // }
                // .pwdSpan{
                //     margin-right: 122px;
                // }
                // .pwdCkSpan{
                //     margin-right: 242px;
                // }

                
            }

            .selectDiv {
                display: flex;
                justify-content: space-around;
                margin-top: 10px;
                margin-bottom: 50px;

                label {
                    margin-right: 5px;
                    //font-size: 20px;
                    font-weight: bold;
                }

                .brithDiv{
                    position: relative;
                    margin-top: 7px;
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 90px;
                        border-radius: 10px;
                        border: none;
                        background-color: rgba(245, 222, 179, 0.808);
                        font-size: 17px;
                        font-weight: bold;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        @include hoverPoint(1.1);
                    }
                    ul{
                        position: absolute;
                        overflow-y: auto;
                        margin-top: 8px;
                        height: 125px;
                        background-color: rgb(252, 246, 223);
                        border-radius: 10px;
                        overflow-x: hidden;
                        li{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            font-size: 17px;
                            @include hoverPoint(1.15);
                            &:hover{
                                background-color: rgba(255, 166, 0, 0.692);
                            }
                        }
                        &::-webkit-scrollbar{
                            width: 8px;
                        }
                        &::-webkit-scrollbar-thumb{
                            border-radius: 13px;
                            background-color: rgb(253, 174, 83);
                        }
                        &::-webkit-scrollbar-track{
                            border-radius: 13px;
                            background-color: rgba(128, 128, 128, 0.767);
                        }
                    }
                    .yearUl{
                        width: 90px;
                    }
                    .monthUl{
                        width: 70px;
                        margin-left: 13px;
                    }
                    .dayhUl{
                        width: 70px;
                        margin-left: 12px;
                    }
                }
            }

            .editBtn {
                margin-top: 10px;
                
                input {
                    @extend %button;
                    border: none;
                    @include hoverPoint(1.08);
                    
                }
            }

        }
    }
    .userDeleteBtn{
        
        cursor: pointer;
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #696969;
    }
}

.prevModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;

    .prevModalContainer {
        box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
        border-radius: 10px;
        width: 500px;
        height: 250px;
        background-color: white;
        position: relative;
        box-sizing: border-box;
        margin: 180px auto;
        padding: 20px;
        background: #fff;

        .prevHeader {
            display: flex;
            justify-content: right;
            font-size: 30px;
            font-family: "NanumExtra";
            font-weight: bold;

            p {
                margin-right: 120px;
                margin-top: 10px;
                margin-bottom: 30px;
            }

            span {
                cursor: pointer;
            }
        }

        .prevText {
            margin-bottom: 20px;

            p {
                font-size: 17px;
                font-family: "Nanum";
                font-weight: bold;
            }
        }

        .prevInput {
            margin-bottom: 13px;

            input {
                width: 400px;
                padding: 3px;
                font-size: 15px;
            }
            p{
                margin-top: 5px;
                margin-right: 280px;
                font-size: 12px;
                font-weight: bold;
                color: red;
            }
        }

        .prevBtn {

            button {
                @extend %button;

                border: none;
                width: 400px;
                @include hoverPoint(1.05);

            }
        }
    }
    
}