

.container {
    background-color: rgb(241, 241, 241);
    padding: 20px;
}

.userInfoDiv {
    width: 1160px;
    height: 135px;
    //background-color: rgb(241, 241, 241);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    border-radius: 20px;
    

        .profileImg{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 160px;
            margin-right: 100px;
            img{
                width: 120px;
                height: 120px;
                border-radius: 60px;
                //border: 2px solid orange; ;
            }
            div{
                p{
                    margin-top: 5px;
                    margin-left: 20px;
                    margin-bottom: 5px;
                    font-size: 23px;
                    font-weight: bold;
                }
                span{
                    font-size: 18px;
                    font-weight: bold;
                    margin-left: 20px;
                   
                }
            }
        }

        .profileContent{
            width: 600px;
            text-align: center;
            .profileCount{
                display: flex;
                flex-direction: row;
                text-align: center;

                div{
                    
                    width: 200px;
                    p{
                        font-size: 20px;
                        font-weight: bold;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    span{
                        font-size: 20px;
                        font-weight: bold;
                        
                    }
                }
            }
            .profileBtn{
                
                button{
                    cursor: pointer;
                    font-size: 18px; 
                    background-color: rgb(249, 87, 0);
                    color: white;
                    border-radius: 5px;
                    padding: 5px;
                    font-family: 'Nanum';
                    width: 400px;
                    margin-top: 10px;
                    border: none;
                    font-weight: bold;
                    
                }
            }
        }
    }


.userMNB {
    width: 1160px;
    height: 620px;
    //display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .userMapDiv {
        width: 100%;
    }

    .userPhotoDiv {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 187px;
        gap: 3px;
        background-color: white;

        .imgDiv{
            height: 187px;
            .img {
                width: 100%;
                height: 100%;
                transition: transform 0.4s;
                &:hover{
                    transform: scale(1.08);
                }
            
            }
        }
    }
        
}

.noBoard {
    color: #696969;
    text-align: center;
    position: absolute;
    width: 600px;
    
    p{
        margin-top: 280px;
        font-size: 30px;
        font-family: 'NanumExtra';

    }

}