<!DOCTYPE html>
<body>
    <body>
        <form method="post">
            <input type="text" name="writeAddrName" id="" value="<%=Board.Location%>">
            <input type="text" name="writeCommName" id="" value="<%=Board.Content%>">
            <input type="text" name="writeStarName" id="" value="<%=Board.Star%>">
            <br>
            <% for(let poto of Picture) { %>
                <input type="text" name="writeImgName" value="<%=poto.Poto%>">
            <%}%>
            <input type="submit" value="수정">
        </form>
    </body>
</body>