<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form method="post">
            <input type="text" name="writeAddrName" id="" placeholder="주소 입력">
            <input type="text" name="write" id="" placeholder="이미지">
            <textarea name="writeCommName" placeholder="내용"></textarea>
            <input type="text" name="writeTagName" id="" placeholder="태크">
            <input type="text" name="writeStarName" id="" placeholder="점수">
            <input type="submit" value="작성">
        </form>
    </body>
</html>