<!DOCTYPE html>
<html>
    <head>
        <script type='text/javascript' src='//dapi.kakao.com/v2/maps/sdk.js?appkey=521294d17a784996932d8159a1766a95&libraries=services,clusterer'> 
        </script>
        <script>
            window.onload =  function() {
                const a = document.getElementById("selectdId");
                a[1].selected = true;
            }
        </script>
    </head>
    <body>
        <form method="post" action="./join">
            <input type="text" name="joinEmailName" placeholder="이메일">
            <input type="text" name="joinPwdName" placeholder="비밀번호">
            <input name="joinNameName" placeholder="이름">
            <input name="joinNickName" placeholder="닉네임">
            <select name="joinYearName" id="selectdId">
                <option>1995</option>
                <option>1996</option>
            </select>
            <select name="joinMonthName">
                <option>1</option>
                <option>2</option>
            </select>
            <select name="joinDayName">
                <option>4</option>
                <option>5</option>
            </select>
            <input type="submit" value="전송" />
        </form>
        <br>
        <form method="post" action="./login">
            <input type="text" name="loginENName" placeholder="이메일">
            <input type="text" name="loginPwdName" placeholder="비밀번호">
            <input type="submit" value="로그인" />
        </form>
        <br>
        <form action="/user/<%=UID%>/logout" method="POST">
            <input type="submit" value="로그아웃">
        </form>
        <a href="/user/<%=UID%>">정보 보기</a> <br>
        <a href="/user/<%=UID%>/edit">정보 수정</a>
        <div id="kakaoDivId" style="width:500px; height:400px"></div>
        <br>
        <a href="/board/write">
            <input type="button" value="글쓰기">
        </a>
        <a href="/board/8">
            1번째 글 보기
        </a>
    </body>
    <script>
        let container = document.getElementById("kakaoDivId");
        let options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 5
        };
        let map = new kakao.maps.Map(container, options);
    </script>
</html>