<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="./join">
            <input type="text" name="joinEmailName" placeholder="이메일">
            <input type="text" name="joinPwdName" placeholder="비밀번호">
            <input name="joinNameName" placeholder="이름">
            <input name="joinNickName" placeholder="닉네임">
            <select name="joinYearName">
                <option>1995</option>
                <option>1996</option>
            </select>
            <select name="joinMonthName">
                <option>1</option>
                <option>2</option>
            </select>
            <select name="joinDayName">
                <option>4</option>
                <option>5</option>
            </select>
            <input type="submit" value="전송" />
        </form>
        <br>
        <form method="post" action="./login">
            <input type="text" name="loginENName" placeholder="이메일">
            <input type="text" name="loginPwdName" placeholder="비밀번호">
            <input type="submit" value="로그인" />
        </form>
    </body>
</html>