<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type='text/javascript' src='//dapi.kakao.com/v2/maps/sdk.js?appkey=521294d17a784996932d8159a1766a95&libraries=services,clusterer'> 
        </script>
    </head>
    <body>
        <form method="post" action="./join">
            <input type="text" name="joinEmailName" placeholder="이메일">
            <input type="text" name="joinPwdName" placeholder="비밀번호">
            <input name="joinNameName" placeholder="이름">
            <input name="joinNickName" placeholder="닉네임">
            <select name="joinYearName" id="selectdId">
                <option>1995</option>
                <option>1996</option>
            </select>
            <select name="joinMonthName">
                <option>1</option>
                <option>2</option>
            </select>
            <select name="joinDayName">
                <option>4</option>
                <option>5</option>
            </select>
            <input type="submit" value="전송" />
        </form>
        <br>
        <form method="post" action="./login">
            <input type="text" name="loginENName" placeholder="이메일">
            <input type="text" name="loginPwdName" placeholder="비밀번호">
            <input type="submit" value="로그인" />
        </form>
        <br>
        <form action="/user/<%=UID%>/logout" method="POST">
            <input type="submit" value="로그아웃">
        </form>
        <a href="/user/<%=UID%>">정보 보기</a> <br>
        <a href="/user/<%=UID%>/edit">정보 수정</a>
        <div id="kakaoDivId" style="width:500px; height:400px"></div>
        <br>
        <a href="/board/write">
            <input type="button" value="글쓰기">
        </a>
        <a href="/board/8">
            1번째 글 보기
        </a>
        <br>
        <form method="post" id="fileForm">
        <input type="file" name="filenamename" id="fileTest">
        <input type="button" value="실행" onclick="ajaxTest()">
        </form>
    </body>
        <script>
            function ajaxTest(){
                //jquery로 form안의 input:file을 가져온다.
                const fileTst =  jQuery("#fileForm")[0];
                //data를 파일로 바꾸어 준다.
                var formData = new FormData(fileTst);
                formData.append('file', fileTst);
                //비동기 ajax 사용
                $.ajax({
                    type: "post", //보낼 방식
                    url: "/getLetter", //보낼 URL
                    processData: false,
		            contentType: false,
                    data: formData, //보낼 데이터
                    //보낸것이 성공한다면 실행
                    success: function (address){
                        mapSearch(address);
                    },
                    error: function(req, stat, error){
                        console.log(error);
                    }
                });
            }
        </script>
        <script>
            //마크 만들기 함수
            function mapSearch(address){ 
                            let geocoder = new kakao.maps.services.Geocoder();
                            //주소를 입력받아 검색한다.
                            geocoder.addressSearch(address.Location, (result, stat) => {
                                //해당 검색한 주소중 x, y 좌표를 설정해서 가져온다
                                let position = new kakao.maps.LatLng(result[0].y, result[0].x);
                                //위치 마크 이미지 설정
                                const img = "getMaker";
                                //위치 마크 이미지 크기 설정
                                const imgSize = new kakao.maps.Size(70, 70);
                                //위치 마크 이미지 위치에서 얼마나 이동할것인지
                                const imgOption = {offset: new kakao.maps.Point(17, 40)};
    
                                //마크 이미지 설정
                                const markImg = new kakao.maps.MarkerImage(img, imgSize, imgOption);
    
                                //위치 마크 만들기
                                const mark = new kakao.maps.Marker({
                                    map: map,
                                    position: position,
                                    image: markImg
                                });

                                //클릭시 이벤트 발동
                                kakao.maps.event.addListener(mark, 'click',function(){
                                    //해당 게시글로 이동
                                    location.replace('./board/'+address.BID);
                                });

                                makers.push(mark);
                                
                                //검색한 주소를 중앙으로 위치해준다.
                                map.setCenter(position);
                                
                            })
                        }
        </script>
    <script>
        //지도 생성
        let container = document.getElementById("kakaoDivId");
        let options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 7
        };
        let map = new kakao.maps.Map(container, options);
        //마크 저장
        //함수를 사용할것기에 미리 선언
        var makers = [];
        $.ajax({
                    type: "post", //보낼 방식
                    url: "/location", //보낼 URL
                    //보낸것이 성공한다면 실행
                    success: function (address){
                        for(let i in address){
                            mapSearch(address[i]);
                        }
                    },
                    error: function(req, stat, error){
                        console.log(error);
                    }
                });
    </script>
</html>