.boardList {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60%;
    height: 65%;
    z-index: 4;
    overflow-y: auto;
    overflow-x:hidden ;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 5px;
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 13px;
        background-color: black;
    }
    &::-webkit-scrollbar-track{
        border-radius: 13px;
        background-color: gray;
    }
    li {
        border-radius: 15px;
        margin-top: 5px;
        width: 98%;
        background-color: white;
        box-shadow: 3px 3px 3px gray;
        opacity: 0.9;
        padding-left: 7px;
        font-size: 20px;
        &:hover{
            background-color: rgba(243, 161, 117, 0.829);
        }
    }
}